* {
  box-sizing: border-box;
}

body {
  background: #F1F1F1;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  color: #222222;
  font-size: 14px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Exo', sans-serif;
}

textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.editor {
  overflow: auto;
  height: 160px;
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 4px;
  padding: 5px 8px;
  outline: 0 none;
  margin: 10px 0;
  background: white;
}

.editor:focus {
  border: 1px solid #5ABBF6;
}
